{% extends "::layout.html.twig" %}

{% block title %}{{ parent()}} - Voir - Box
{% endblock %}

{% block body %} {{ parent() }}

	<table border="4" width="100%">
	<tr>
		<th>ID</th><th>Ref Box</th><th>TempsRea Box</th>
	</tr>
	{% for box in box %}
		<tr>
			<td><a href="{{ path("qlio_gestion_showbox", { id: box.id }) }}" title=" {{ box.id }}">{{ box.id }} </a></td>
			<td>{{ box.refBox }}</td>
			<td>{{ box.tempsReaBox }}</td>
		</tr>
	{% endfor %}

{% endblock %}